@import url("https://fonts.googleapis.com/css2?family=Abel&family=Kaushan+Script&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Forum&family=Kaushan+Script&family=Rajdhani:wght@300;400;500;600;700&display=swap");

.event-card,
.top-search {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f7f4f4;
  opacity: 0.8;
  font-weight: bold;
}

.event-card:hover,
.top-search:hover {
  transform: scale(1.02);
}

.event-card,
.top-search {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.header-title {
  font-size: 60px;
}

.heart-icon {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.heart-icon:hover {
  color: red;
}

.heart-icon::before {
  content: "\2665";
  font-size: 24px;
}

.pagination-info {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.navheader {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
}

.navbar-gradient {
  background: linear-gradient(to right, #1b1a1a, #393736);
}

.btn-block {
  width: 70%; /* Ensure the button expands to fill the parent container */
}

.footer {
  margin-top: 70px;
}
