.event-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f7f4f4;
  opacity: 0.8;
}

.heart-icon {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth color transition */
}

.heart-icon:hover {
  color: red; /* Change color to red on hover */
}

.heart-icon::before {
  content: "\2665"; /* Unicode heart character */
  font-size: 24px; /* Adjust size as needed */
}

.pagination-info {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px; /* Adjust as needed */
}
